[submodule "vsf"]
	path = vsf
	url = https://github.com/vsfteam/vsf.git
[submodule "VisualBoyAdvance"]
	path = VisualBoyAdvance
	url = https://github.com/x3ro/VisualBoyAdvance.git
[submodule "xboot"]
	path = xboot
	url = https://github.com/xboot/xboot.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
